.o-body{
    background-color: #272643;
}

.o-home-content{
    padding: 1em 1em 1em 1em;
}

.o-intro{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ph-profile{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.o-intro-text{
    width: 25rem;
    height: 15rem;
    background-color: #E3F6F5;
    margin-left: -5rem;
    border-radius: 0 2em 2em 0;
    z-index: 1;
}