.o-body{
    background-image: linear-gradient(to bottom left, #272643, #2C698D);
}

.o-home-content{
    padding: 1em 1em 1em 1em;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.o-intro{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.o-ph-content{
    width: 12rem;
    height: 12rem;
    background-color: #BAE8E8;
    border-radius: 50%;
    margin-bottom: -2rem;
    overflow: hidden;
    z-index: 2;
}

#ph-profile{
    width: 12rem;
    height: auto;
    object-fit: cover;
}

.o-intro-text{
    background-color: #E3F6F5;
    color: #2C698D;
    border-radius: 10px;
    padding: 1em;
}

.o-profile-content{
    background-color: #E3F6F5;
    width: auto;
    margin: 1rem auto;
    padding: 1em;
    border-radius: 1rem;
}

@media screen and (min-width:900px) {
    .o-ph-content{
        width: 25rem;
        height: 25rem;
    }

    #ph-profile{
        width: 25rem;
    }

    .o-intro-text{
        width: 25rem;
        height: 15rem;
        margin-left: -5rem;
        border-radius: 0 2em 2em 0;
        padding: 1em 3em 1em 1em;
        z-index: 1;
        text-align: right;
        text-justify: distribute;
    }

    .o-intro{
        display: flex;
        flex-direction: row;
    }

    .o-profile-content{
        margin: 2rem auto;
        padding: 2em;
        border-radius: 2rem;
    }
}