.o-body{
    background-image: linear-gradient(to bottom left, #272643, #2C698D);
}

.o-home-content{
    padding: 1em 1em 1em 1em;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.o-intro{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.o-ph-content{
    width: 25rem;
    height: 25rem;
    background-color: #BAE8E8;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
}

#ph-profile{
    width: 25rem;
    height: auto;
    object-fit: cover;
}

.o-intro-text{
    width: 25rem;
    height: 15rem;
    background-color: #E3F6F5;
    color: #2C698D;
    margin-left: -5rem;
    border-radius: 0 2em 2em 0;
    padding: 1em 3em 1em 1em;
    z-index: 1;
    text-align: right;
    text-justify: distribute;
}

.o-profile-content{
    background-color: #E3F6F5;
    width: auto;
    margin: 2rem auto;
    padding: 2em;
    border-radius: 2rem;
}