.o-card-project{
    min-width: 15rem;
    max-width: 20rem;
    min-height: 15rem;
    margin: 2rem auto;
    padding: 0 ;
    color: #2C698D;
    background-color: #BAE8E8;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.o-card-text{
    padding: 0 1rem 1rem 1rem;
}

#ph-card{
    width: 120%;
    height: 8rem;
    margin: -2rem;
    object-fit: cover;
}

@media screen and (min-width:900px) {
    .o-card-project{
        flex-direction: row;
        justify-content: space-between;
        min-width: 40rem;
        min-height: 15rem;
        max-height: 20rem;
        padding: 0 0 0 1rem;
    }

    #ph-card{
        margin: 0;
        height: 100%;
        width: 100%;
    }

    .o-card-img{
        max-width: 25%;
    }
}